.form {
    display: flex;
    background-color: #FFE7D1;
    border-radius: 40px;
    width: 100%;
    justify-content: center;
}

.form__container {
    margin: 127px 0;
    width: 627px;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form__header {
    font-family: 'Twilight Font';
    font-size: 72px;
    font-weight: 400;
    line-height: 105%;
    margin: 0;
}

.form__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    margin: 26px 0 26px;
}

.form__form {
    display: flex;
    margin-top: auto;
}

.form__input {
    border-radius: 170px 0 0 170px;
    border: 2px solid #000;
    background: #FFF;
    padding: 32px 54px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    width: 353px;
    transform: translateX(25px);
}

.form__input:focus {
    outline: none;
    border: 2px solid #ff4000;
}

.form__btn {
    border-radius: 170px;
    background-color: #000;
    color: #FFE7D1;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 54px;
    width: 205px;
    transform: translateX(-25px);
    border: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form__btn:hover {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .form__container {
        margin: 57px 16px 86px;
        width: 95%;
    }

    .form {
        overflow: hidden;
    }

    .form__header {
        font-size: 36px;
        font-weight: 400;
    }

    .form__container {
        height: 208px;
    }

    .form__text {
        margin: 36px 0 56px;
        font-size: 16px;
        width: 267px;
    }

    .form__input {
        padding: 20px 30px 20px 24px;
        font-size: 14px;
        width: 192px;
        transform: translateX(14px);
    }

    .form__btn {
        width: 118px;
        height: 60px;
        font-size: 12px;
        padding: 25px 44px;
        transform: translateX(-14px);
    }
}