.main {
    width: 1440px;
    max-width: 80%;
    border: 2px solid #000;
    border-radius: 20px;
    transform: translateY(-24vh);
    background-color: #fff;
}

.main__line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.main__container {
    padding: 84px 65px 122px;
    width: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__about {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 95%;
}

.main__cont {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.main__header {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    font-family: 'Twilight Font', serif;
}

.main__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    margin: 28px 0 25px;
}

.main__btn {
    margin-top: auto;
    margin-bottom: -20px;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    background-color: #000;
    width: 160px;
    height: 50px;
    border-radius: 60px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__img {
    max-width: 350px;
    width: 32%;
    margin-top: 9px;
}

.main__revs {
    display: flex;
    width: 95%;
    margin-top: 69px;
    justify-content: space-between;
}

.main__rev {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 302px;
}

.main__rev-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin: 36px 0 0;
}

.main__rev-user {
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
    justify-content: center;
    margin-top: 58px;
    align-items: center;
}

.main__photo {
    width: 72px;
    height: 72px;
    margin-right: 24px;
}

.main__rev-cont {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main__name {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.main__bio {
    margin: 0;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.4;
}

.main__slider {
    display: none;
}

@media screen and (max-width: 1250px) {
    .main__rev-user {
        flex-direction: column;
    }

    .main__rev-cont {
        text-align: center;
    }

    .main__photo {
        margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .main {
        max-width: 95%;
    }

    .main__container {
        padding: 50px 22px 24px;
        width: calc(100% - 44px);
    }

    .main__about {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .main__cont {
        align-items: center;
    }

    .main__img {
        min-width: 222px;
        width: 45%;
        max-width: 300px;
        margin-top: 0;
    }

    .main__header {
        font-size: 36px;
        width: 300px;
    }

    .main__text {
        font-size: 16px;
        max-width: 400px;
        min-width: 300px;
    }

    .main__slider {
        display: block;
        cursor: pointer;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #d9d9d9;
        margin-top: 40px;
    }

    .main__slider::before {
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #000;
        content: '';
        margin-left: -11px;
    }

    .next1 {
        background-color: #000;
    }

    .next1::before {
        background-color: #d9d9d9;
    }

    .main__slider::after {
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #d9d9d9;
        content: '';
        margin-left: 11px;
        margin-top: -6px;
    }

    .next2::after {
        background-color: #000;
    }

    .next2::before {
        background-color: #d9d9d9;
    }

    .next2 {
        background-color: #d9d9d9;
    }

    .main__revs {
        align-items: center;
        flex-direction: column;
    }

    .main__rev-user {
        flex-direction: row;
    }

    .main__rev-cont {
        text-align-last: left;
    }

    .main__photo {
        margin-right: 18px;
    }

    .rev1 {
        display: none;
    }

    .rev2 {
        display: none;
    }

    .rev3 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main__img {
        min-width: 222px;
        width: 45%;
        max-width: 270px;
    }

    .main__text {
        width: 300px;
    }

    .main__line {
        margin: 78px 0 48px;
    }

    .main__revs {
        margin: 0;
    }

    .main__rate {
        width: 98px;
    }

    .main__rev-text {
        margin-top: 20px;
        font-size: 16px;
        width: 160px;
    }

    .main__rev-user {
        margin-top: 36px;
    }

    .main__photo {
        width: 56px;
        height: 56px;
        margin-right: 12px;
    }

    .main__name {
        font-size: 16px;
        font-weight: 500;
    }

    .main__bio {
        font-size: 14px;
    }
}