.stress {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-6vh);
}

.stress__container {
    max-width: 99%;
    width: 1440px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.stress__img {
    width: 662px;
    max-width: 48%;
}

.stress__text {
    width: 672px;
    max-width: 49%;
    display: flex;
    flex-direction: column;
}

.stress__header {
    font-size: 72px;
    line-height: 105%;
    font-weight: 400;
    margin: 0;
    max-width: 672px;
    font-family: 'Twilight Font', serif;
    display: flex;
}

.stress__about {
    font-size: 24px;
    font-weight: 300;
    margin: 31px 0 0;
}

@media screen and (max-width: 1408px) {
    .stress__container {
        max-width: 95%;
        gap: 40px;
    }

    .stress__header {
        font-size: 50px;
    }

    .stress__about {
        font-size: 21px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 1023px) {
    .stress__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .stress__text {
        max-width: 95%;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .stress__img {
        width: 100%;
        max-width: 375px;
    }

    .stress__container {
        transform: translateY(-8vh);
        gap: 26px;
    }

    .stress__text {
        max-width: 100%;
    }

    .stress__header {
        font-size: 36px;
        letter-spacing: -0.72px;
        line-height: 111%;
    }

    .stress__about {
        font-size: 16px;
        margin-top: 44px;
    }
}